/* Welcome.css */
.welcome-container {
    display: flex;
    background-color: #f5d3d8;
    padding: 20px;
  }
  
  .left-column {
    flex: 1;
    padding-right: 20px;
  }
  
  .brainstorm-heading {
    font-weight: bold;
    text-shadow: 2px 2px #303179; /* Example shadow color, adjust as needed */
  }
  
  .your-book-text {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .description {
    margin-top: 10px;
    color: #303179;
  }
  
  .buttons-container {
    margin-top: 20px;
  }
  
  .demo-button {
    background-color: #f5d3d8;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .free-button {
    background-color: #EB7A65;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .right-column {
    flex: 1;
    text-align: center;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .overview-text {
    font-weight: bold;
    color: black;
  }
  
  .duration-text {
    color: grey;
  }
  